@import './base';
@import './variables';
@import './mixins';
@import './breakpoints';
#root {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  background-color: #1e1e1e;
}
.container {
  // width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 2px solid red;
  @include media('<=desktop') {
    width: 100%;
  }
  @include media('<=tablet') {
  }
  @include media('<=phone') {
    padding: 5px;
  }
}
.card {
  display: flex;
  gap: 15px;
  padding: 25px;
  align-items: flex-start;
  background-color: #212121;
  border-radius: 8px;
  > img {
    width: 32px;
  }
  h1 {
    color: #ffffff;
    font-size: 16px;
  }
  p {
    color: #babac2;
    font-size: 14px;
  }
  span {
    color: #babac2;
    font-size: 30px;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    height: 100%;
    > div {
      display: flex;
      justify-content: flex-end;
      gap: 15px;
      align-items: center;
      img {
        width: 46px;
      }
    }
  }
}
.green {
  color: #20ce70 !important;
}
.warning {
  color: #ec7a2a !important;
}
.cancel {
  color: #ef5858 !important;
}
.globus_card {
  padding: 25px;
  h1 {
    color: #ffffff;
    font-size: 16px;
  }
}
.card2 {
  display: grid;
  grid-template-columns: repeat(2, 70% 30%);
  gap: 15px;
  padding: 25px;
  align-items: flex-start;
  align-items: center;
  // background-color: #212121;
  h1 {
    color: #ffffff;
    font-size: 16px;
  }
  p {
    color: #babac2;
    font-size: 14px;
  }
  span {
    color: #babac2;
    font-size: 30px;
  }
}
.grid_line1 {
  display: grid;
  gap: 1%;
  width: 100%;
  grid-template-columns: repeat(3, 24% 49% 24%);
  border: 1px solid red;
  @include media('<=1550px') {
    grid-template-columns: repeat(2, 1fr);
    :last-child {
      order: -1;
    }
  }
}
.grid_line2 {
  display: grid;
  gap: 15px;
  width: 100%;
  grid-template-columns: repeat(4, 24%);
  @include media('<=1550px') {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media('<=1160px') {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media('<=768px') {
    grid-template-columns: repeat(1, 1fr);
  }
}
.left_border {
  border-left: 1px solid #333333 !important;
}
.grid_line3 {
  display: grid;
  gap: 1%;
  width: 100%;
  grid-template-columns: repeat(3, 33%);
  text-align: center;
}
////globus
.globus {
  position: relative;
  .g_item {
    color: #20ce70;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  img {
    width: 150px;
  }
  .axis {
    width: 150px;
    height: 150px;
    border: 1px solid #20ce70;
    border-radius: 50%;
  }
  .axis1 {
    transform: translate3d(-50%, -50%, 0) rotateX(65deg) rotateY(55deg);
    animation-name: anim_axis1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .axis2 {
    transform: translate3d(-50%, -50%, 0) rotateX(-75deg) rotateY(40deg);
    animation-name: anim_axis2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .axis3 {
    transform: translate3d(-50%, -50%, 0) rotateX(75deg) rotateY(165deg) rotateZ(50deg);
    animation-name: anim_axis3;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
@keyframes anim_axis1 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateX(65deg) rotateY(0deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateX(65deg) rotateY(360deg);
  }
}
@keyframes anim_axis2 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateX(-75deg) rotateY(0deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateX(-75deg) rotateY(360deg);
  }
}
@keyframes anim_axis3 {
  from {
    transform: translate3d(-50%, -50%, 0) rotateX(0deg) rotateZ(50deg) rotateY(-165deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotateX(360deg) rotateZ(50deg) rotateY(-165deg);
  }
}
